@font-face {
    src: url('../fonts/chessglyphv3.ttf');
}

@font-face {
    src: url('../fonts/montserrat.ttf');
}

.chessGlyphFont {
    -fx-font-family: 'chessglyphv3';
}

.mainPane {
    -fx-padding: 30 20;
    -fx-font-size: 15px;
    -fx-font-family: 'Montserrat';
    -fx-background-color: #31302c;
}

.boardGridPane {
    -fx-background-color: rgb(233, 237, 204);
}

.control {
    -fx-background-color: #484744;
}

.control * {
    -fx-text-fill: white;
}

.timer {
    -fx-font-family: 'chessglyphv3';
}

.timerBlack {
    -fx-background-color: #262421;
    -fx-text-fill: white;
}

.timerWhite {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.blackSquare {
    -fx-fill: rgb(119, 153, 84);
}

.whiteSquare {
    -fx-fill: rgb(233, 237, 204);
}

.highlightedSquare {
    -fx-fill: rgba(255, 255, 51, 0.5);
}

.legalMoveWithCapture {
    -fx-fill: transparent;
    -fx-stroke: rgba(0, 0, 0, 0.14);
}

.legalMove {
    -fx-fill: rgba(0, 0, 0, 0.14);
    -fx-scale-x: 0.33;
    -fx-scale-y: 0.33;
}